<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/default.css" />
    <title>User editor</title>
</head>
<body>
<form action="/users/superUserPage/save" method="post">
    <label>
        <td th:each="role: ${roles}">
            <span th:if="${userRoles.contains(role)}">
                <input type="checkbox" th:name="${role}" th:text="${role.name()}" checked>
            </span>
            <span th:unless="${userRoles.contains(role)}">
                <input type="checkbox" th:name="${role}" th:text="${role.name()}">
            </span>
        </td>
        <input th:type="hidden" th:value="${user2.id}" th:name="userId">
    </label>
    <input type="hidden" th:value="${_csrf.token}" th:name="_csrf"/>
    <button type="submit">Сохранить</button>
</form>
</body>
</html>