<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Bid List</title>
    <link rel="stylesheet" type="text/css" href="/default.css" />
</head>
<body>
<div>
    <form th:action="@{/logout}" method="post" style="float: right;">
        <input type="submit" value="Выйти из аккаунта"/>
        <input type="hidden" th:value="${_csrf.token}" th:name="_csrf"/>
    </form>
    <div>Поиск пользователей</div>
    <form method="post" action="/bids/bidList/searchBidByAuthor">
        <label>
            <input type="text" name="filterName" placeholder="Введите имя пользователя">
            <input type="text" name="filterSurname" placeholder="Введите фамилию пользователя">
        </label>
        <button type="submit">Найти</button>
        <input type="hidden" th:value="${_csrf.token}" th:name="_csrf"/>
    </form>

    <form method="post" action="/bids/bidList/searchBidByText">
        <div>Поиск заявок по тексту</div>
        <label>
            <input type="text" name="filterText" placeholder="Введите название заявки">
        </label>
        <button type="submit">Найти</button>
        <input type="hidden" th:value="${_csrf.token}" th:name="_csrf"/>
    </form>
    <div>Работа с таблицей</div>
    <form method="post" action="/bids/bidList/bidDone">
        <button type="submit">Отобразить заявки, ожидающие подтверждения выполнения</button>
        <input type="hidden" th:value="${_csrf.token}" th:name="_csrf"/>
    </form>
    <form method="post" action="/bids/bidList/toUserPage">
        <button type="submit">На главную</button>
        <input type="hidden" th:value="${_csrf.token}" th:name="_csrf"/>
    </form>
    <form>
        <table>
            <caption><div th:text="${message}"></div></caption>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Текст заявки</th>
                <th>Статус заявки</th>
                <th>Адрес</th>
                <th>Цена от</th>
                <th>Цена до</th>
                <th>Редактировать заявку</th>
                <th>Файл</th>
            </tr>
            <tr th:each="bid: ${bids}">
                <td th:text="${bid.author.name}">Имя пользователя</td>
                <td th:text="${bid.author.surname}"></td>
                <td><a th:href="@{/comments/commentPage/{id}(id=${bid.id})}" th:text="${bid.text}"></a></td>
                <td th:text="${bid.status}"></td>
                <td th:text="${bid.address}"></td>
                <td th:text="${bid.priseFrom}"></td>
                <td th:text="${bid.priseTo}"></td>
                <td><span th:if="${bid.status.s == 'Осуществление_работ'}">
                    <form method="get" th:action="@{/bids/bidList/bidDone}">
                        <input type="hidden" th:value="${bid.id}" th:name="bid"/>
                        <button type="submit">Подтвердить выполнение</button>
                    </form>
                </span><span th:unless="${bid.status.s == 'Осуществление_работ'}">
                    <a th:href="@{/bids/bidList/{id}(id=${bid.id})}">Редактировать</a>
                </span></td>
                <td><a th:href="@{userPage/getFile/{fileName}(fileName = ${bid.fileName})}"
                       th:text="${bid.fileName}"></a></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>